<p1>出勤一覧</p1>
</br>
<%start_month = Time.now.months_ago(6)%>
<%= link_to "⇦", worktimes_path(month: @select_month.prev_month) %>
<% 1.upto 12 do |m|%>
  <p><%= start_month.months_since(m).strftime('%Y年%m月度')%></p>
<% end%>
<%= link_to "⇨", worktimes_path(month: @select_month.next_month) %>
<table class="table table-striped">
  <thead>
    <tr>
      <th>日付</th>
      <th>勤務区分</th>
      <th>出勤時間</th>
      <th>退勤時間</th>
      <th>休憩開始時間</th>
      <th>休憩終了時間</th>
    </tr>
  </thead>
  <% @works.each do |works| %>
    <% if current_user.username == works.username %>
      <tbody>
       <tr>
          <td>
            <% if works.str_time.nil? %>
              <%= works.str_time %>
            <% else %>
             <%= works.str_time.strftime('%m%d') %>
            <% end %>
            <%= link_to "編集", edit_worktime_path(works) %>
          </td>
          <td>
            <% if works.work.nil? %>
              <h5>欠勤</h5>
            <% else %>
              <h5>出勤</h5>
            <% end %>
          </td>
          <td>
           <% if works.str_time.nil? %>
             <%= works.str_time %>
           <% else %>
             <%= works.str_time.strftime('%R') %>
           <% end %>
          </td>

          <td>
           <% if works.end_time.nil? %>
             <%= works.end_time %>
           <% else %>
             <%= works.end_time.strftime('%R') %>
           <% end %>
          </td>

          <td>
           <% if works.start_breaktime.nil? %>
             <%= works.start_breaktime %>
           <% else %>
              <%= works.start_breaktime.strftime('%R') %>
           <% end %>
          </td>
          <td>
           <% if works.end_breaktime.nil?%>
             <%= works.end_breaktime %>
            <%else%>
             <%= works.end_breaktime.strftime('%R') %>
           <%end%>
         </td>
       </tr>
      </tbody>
    <%end%>
  <% end %>
</table>