<p1>出勤一覧</p1>

<table border = "1">
  <tr>
    <th>日付</th>
    <th>出勤時間</th>
    <th>退勤時間</th>
    <th>休憩開始時間</th>
    <th>休憩終了時間</th>
  </tr>
  <% @works.each do |work| %>
    <% if current_user.username == work.username %>
      <tr>
        <td>
          <% if work.str_time.nil? %>
            <%= work.str_time %>
          <% else %>
            <%= work.str_time.strftime('%d') %>
          <% end %>
          <%= link_to "編集", worktime_edit_path(work) %>
        </td>

        <td>
          <% if work.str_time.nil? %>
            <%= work.str_time %>
          <% else %>
            <%= work.str_time.strftime('%R') %>
          <% end %>
        </td>

        <td>
         <% if work.end_time.nil? %>
           <%= work.end_time %>
         <% else %>
           <%= work.end_time.strftime('%R') %>
         <% end %>
        </td>

        <td>
          <% if work.start_breaktime.nil? %>
            <%= work.start_breaktime %>
          <% else %>
            <%= work.start_breaktime.strftime('%R') %>
          <% end %>
        </td>
        <td>
          <% if work.end_breaktime.nil?%>
            <%= work.end_breaktime %>
           <%else%>
            <%= work.end_breaktime.strftime('%R') %>
          <%end%>
        </td>
      </tr>
   <%end%>
  <% end %>
</table>